PORT=9000
MONGODB_URI=mongodb://localhost:27017/aspatal
GEMINI_API_KEY= "AIzaSyC67N9Gtw95ndsSLiwYT9e6gyVIDiPiL28"
AQI_API_API=https://api.openweathermap.org/data/2.5/air_pollution?lat=19.0760&lon=72.8777&appid=YOUR_API_KEY
AQI_API_URL=https://api.airvisual.com/v2/city?city=Mumbai&state=Maharashtra&country=India&key=YOUR_API_KEY

AQI_DEFAULT_CITY=Mumbai
DEFAULT_HOSPITAL_ID=aspatal-mumbai

